// Mixins in here
<<<<<<< HEAD
.btn(@width: 110px) {
    width: @width;
    display: flex;
    justify-content: center;  
=======
.btn() {
    width: 110px;
    display: flex;
    justify-content: center;    
>>>>>>> 8f6dce3518aeb4fcd6a77e19365f42a86baa8753
    padding: 2%;
    background: @eastern-blue;
    border-radius: 7px;
    color: @white;
}